.appContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100vw;
}

.addCounter {
  width: fit-content;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #f25c54;
  color: #ffdab9;
  border: none;
  cursor: pointer;
}

.addCounter:active {
  background: #a5ffd6;
  color: #f25c54;
}

.addCounter:hover {
  opacity: 80%;
}

.countersList {
  display: flex;
  flex-wrap: wrap;
}
